/* :host {
  font-size: 16px; 
  font-family: sans-serif;
} */

@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono');
:host {
  font-size: initial
}

/* body {
  color: var(--font-color);
  background-color: var(--background-color);

} */
.b-border{
  border: 1px solid #d2d2d2ef;
}
.fontscout-bd {
  background-image: url(https://nowa.garden/gallery/c053-3.gif);

}

.ant-popover {
  z-index: 13000;
}

/* width */
#font-selector-shadow-dom ::-webkit-scrollbar {
  width:  5px !important;
  height: 5px !important;
}

/* Track */
#font-selector-shadow-dom ::-webkit-scrollbar-track {
  background: transparent !important;
}

/* Handle */
#font-selector-shadow-dom ::-webkit-scrollbar-thumb {
  background: #c2c2c2 !important;
  border-radius: 5px !important;
}

/* Handle on hover */
#font-selector-shadow-dom ::-webkit-scrollbar-thumb:hover {
  background: #555 !important;
}

.ant-message {
  z-index: 14000 !important;
  /* Ensure high zIndex and use !important to override defaults */
}
div.ant-upload{
width: 100%;
}

.icon {
  transition: transform 0.3s; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon:hover {
  transform: scale(1.5);
}

.blinkie-banner {
  position: relative;
  height: 100px; 
}

.blinkie-img {
  position: absolute;
  top: 0;
  left: 100%; /* Starts offscreen to the right */
  animation: move-horizontal 7s linear infinite; /* Continuous movement */
}

@keyframes move-horizontal {
  0% {
    left: 100%;
  }
  100% {
    left: -160px; /* Adjust based on width of your GIF */
  }
}
